@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

$pink: #ea9191;
$blue: #4b4975;
$yellow: #e6b331;

@font-face {
  font-family: "Rockwell", serif;
}

$rock: "Rockwell", serif;
